#installed {
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.6);
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: $installed-background;

  .entry {
    background-color: $installed-background !important;

    h2 {
      padding-top: 1em;
      padding-bottom: 1em;
      text-shadow: none;
    }
  }

  .entry.even {
    background: none !important;
    background-image: $installed-item-alt-gradient !important;
  }

  .style-name-link {
    color: $installed-text-color;
  }

  .disabled h2::after {
    background-color: $installed-badge-disabled-background-color;
    color: $installed-badge-disabled-color;
  }

  .entry.usercss .style-name-link::after {
    background-color: $installed-badge-usercss-background-color;
    color: $installed-badge-usercss-color;
    font-weight: 700;
  }

  .disabled h2 .style-name-link,
  .disabled h2::after,
  .disabled .actions,
  .disabled .applies-to {
    opacity: 1;
  }

  .target {
    color: $installed-text-color;
    font-weight: 400;
  }

  .actions .svg-icon {
    fill: $installed-text-color !important;
  }

  .can-update[data-details$="locally edited"] .update svg,
  .update-problem .check-update svg {
    fill: #cc0000 !important;
  }

  .expander {
    color: $installed-text-color;
  }

  .highlight {
    animation: highlight 4s cubic-bezier(0, 0.82, 0.47, 0.98);
  }

  @keyframes highlight {
    from {
      background-color: rgba(invert($installed-background), 0.8);
    }
    to {
      background-color: none;
    }
  }
}
