#installed {
  .entry {
    h2 {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }

  .entry.odd {
    background-color: rgba($color-primary, 0.2);
  }
}

.style-name-link {
  color: $color-primary;
}

.disabled h2::after {
  background-color: rgba($color-primary, 0.3);
  color: #ccc;
}

.entry.usercss .style-name-link::after {
  background-color: $color-primary;
  color: white;
}

.disabled h2 .style-name-link,
.disabled h2::after,
.disabled .actions,
.disabled .applies-to {
  opacity: 1;
}

.target {
  color: $color-primary;
  font-weight: 400;
}

.actions .svg-icon {
  fill: $color-primary !important;
}

.can-update[data-details$="locally edited"] .update svg,
.update-problem .check-update svg {
  fill: #cc0000 !important;
}

.settings-column:first-child {
  display: flex;
  flex-direction: column;

  #style-actions {
    margin-top: 1em;
  }

  #sort-wrapper {
    order: 1;
    margin-top: 0.75em;

    &:before {
      content: "Sort:";
      display: block;
      width: 100%;
      color: #26fefa;
      font-size: 18px;
      font-weight: 700;
      font-variant: small-caps;
      margin-bottom: 0.5em;
    }
  }

  #filters {
    border: 1px solid transparent;
    order: 2;
  }
}
