body.all-styles-hidden-by-filters:before {
  top: 0;
  z-index: 1;
  color: $color-ws-control-color;
}

body.all-styles-hidden-by-filters:after {
  top: 20px;
  left: calc(7rem + var(--header-width));
  color: $color-ws-control-color;
  z-index: 1;
}

.newUI .can-update:not([data-details$='locally edited']) .update:after,
.newUI .updater-icons > :not(.check-update):after {
  border: 1px solid $color-control-color;
  background-color: #333;
  color: $color-accent;
}
