// Styles for base elements
html {
  background-color: $workspace-color;
  background-image: $workspace-image;
}

html,
body {
  color: white;
  letter-spacing: 0.025em;
  font-family: $font-stack;
}

h1,
h2,
h3 {
  letter-spacing: 0.025em;
  color: $color-accent;
  text-shadow: 1px 0 2px rgba(0, 0, 0, 0.3);
}

h2 {
  font-variant: small-caps;
}

a {
  color: white;

  &:hover {
    color: #aaa;
  }
}

details {
  margin-top: 1em;
  color: $color-accent !important;
}

label {
  color: white;
}

button {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin: 0.25em;
  border-radius: 0.25em;
  border: 1px solid $color-control-color;
  background-color: transparent;
  color: white;
  background-image: none;
  margin-bottom: 0.5em;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: $color-selection !important;
    border: 1px solid $color-control-color !important;
    color: white !important;
  }
}

select {
  color: white;
  border: 1px solid $color-control-color;
  background-color: transparent;
  border-radius: 0.25em;
  padding-right: 1.25em;
  font-weight: 300;
  letter-spacing: 0.025em;
  width: auto !important;
  height: 2em !important;
  padding: 3px 18px 3px 6px;
  margin-bottom: 0.5em;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: $color-selection;
  }

  optgroup {
    background-color: rgba(145, 208, 198, 0.7);
    color: #00352d;
  }

  option {
    background-color: $color-secondary;
    color: $color-primary;
  }
}

button:disabled,
select:disabled,
option:disabled,
select[disabled] > option {
  color: #aaa;
  border-color: #aaa;
  background-color: transparent;

  &:hover {
    color: #aaa !important;
    border-color: #aaa !important;
    background-color: transparent !important;
    cursor: default;
  }
}

input {
  border-radius: 0.25em;
  background-color: $color-control-background !important;
  border: 1px solid $color-control-color !important;
  margin-bottom: 0.5em;
}

input:not([type='checkbox']) {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
  height: 2em !important;
}

input[type='checkbox']:not(.slider) {
  border: 1px solid $color-control-color;
}

input[type='checkbox']:not(.slider):hover {
  background-color: $color-primary;

  &:active,
  &:hover {
    background-color: $color-primary;
  }
}

::placeholder {
  color: #eee;
  opacity: 1;
}
