// Styles for base elements
html {
  background-color: $workspace-color;
  background-image: $workspace-image;
}

html,
body {
  color: white;
  letter-spacing: 0.025em;
  font-family: $font-stack;
}

h1,
h2,
h3 {
  letter-spacing: 0.025em;
  color: $color-accent;
  text-shadow: 1px 0 2px rgba(0, 0, 0, 0.3);
}

h2 {
  font-variant: small-caps;
}

a {
  color: white;

  &:hover {
    color: #aaa;
  }
}

details {
  color: $color-accent !important;
}

label {
  color: white;
}

button {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin: 0.25em;
  border-radius: 0.25em;
  border: 1px solid $color-control-color;
  background-color: transparent;
  color: white;
  background-image: none;
  margin-bottom: 0.5em;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  height: 2em;

  &:hover:not(:disabled) {
    background-color: $color-selection !important;
    border: 1px solid $color-control-color !important;
    color: white !important;
  }
}

select {
  color: white;
  border: 1px solid $color-control-color;
  background-color: transparent;
  border-radius: 0.25em;
  padding-right: 1.25em;
  font-weight: 300;
  letter-spacing: 0.025em;
  width: auto !important;
  height: 2em !important;
  padding: 3px 18px 3px 6px;
  margin-bottom: 0.5em;
  transition: background-color 200ms ease-in-out;

  &:hover:not(:disabled) {
    background-color: $color-selection;
  }

  optgroup {
    background-color: #2d7070;
    color: #fff;
  }

  option {
    background-color: #a8fefc; // $accent-color, 60% lightened - Pine Tools
    color: #333;
  }
}

input,
select {
  padding-left: 0.5em !important;
}

button:disabled,
select:disabled,
option:disabled,
select[disabled] > option {
  @extend %disabled;
  background-color: transparent;
  border: 1px solid $color-control-color;
  color: white;
  background-image: none;
  cursor: default;
}

input {
  border-radius: 0.25em;
  background-color: $color-control-background !important;
  border: 1px solid $color-control-color !important;
  margin-bottom: 0.5em;
}

input:not([type='checkbox']) {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
  height: 2em !important;
}

// input[type='checkbox']:not(.slider) {
//   border: 1px solid $color-control-color;
// }

input[type='checkbox']:not(.slider),
input[type='number'] {
  background-color: transparent !important;

  &:disabled {
    @extend %disabled;
  }

  &:hover {
    background-color: $color-selection !important;
  }
}

::placeholder {
  color: #eee;
  opacity: 1;
}
