// Select Theme [ "Light" / "Dark" ]

$theme: "Dark";

// Light

$header-background-color: $color-primary;
$popup-background: $color-primary;

/* https://www.heropatterns.com/ */
$workspace-color: #fafafa !default;
$workspace-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='#{encodecolor($color-primary)}' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E") !default;

$installed-text-color: $color-primary !default;
$installed-text-inverted-color: white !default;

$installed-background: white !default;

$installed-item-alt-gradient: linear-gradient(
  to right,
  rgba($color-secondary, 0.3),
  rgba($color-secondary, 0.2) 80%,
  transparent 100%
) !default;

$installed-badge-disabled-color: white !default;
$installed-badge-disabled-background-color: rgba($color-primary, 0.3) !default;

$installed-badge-usercss-color: white !default;
$installed-badge-usercss-background-color: rgba($color-primary, 0.8) !default;

// Dark Theme
@if ($theme == "Dark") {
  $header-background-color: #2d7070;
  $popup-background: #333;

  /* https://www.heropatterns.com/ */
  $workspace-color: #333;
  $workspace-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='#{encodecolor($color-accent)}' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

  $installed-text-color: $color-accent;
  $installed-text-inverted-color: $color-secondary !default;

  $installed-background: #333;

  $installed-item-alt-gradient: linear-gradient(
    to right,
    rgba($color-accent, 0.3),
    rgba($color-primary, 0.2) 70%,
    rgba($color-primary, 0.1) 90%,
    transparent 100%
  );

  $installed-badge-disabled-color: #ccc;
  $installed-badge-disabled-background-color: rgba($color-secondary, 0.3);

  $installed-badge-usercss-color: $color-primary;
  $installed-badge-usercss-background-color: rgba($color-secondary, 0.8);
}
