#stylus-edit {
  #name {
    color: $color-accent;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  #editor\.tabSize {
    color: white;
  }

  #options-wrapper .option > label {
    & > svg {
      margin-top: 4px;
    }
    & > input {
      margin-top: 2px;
    }
  }
}
