#header {
  background-color: $color-primary;
  border-right: 1px solid transparent;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 2px 0 16px rgba(0, 0, 0, 0.6);
}

#header h1 {
  letter-spacing: 0.05em;

  &:before {
    content: "{";
    font-size: 1.2em;
  }
  &:after {
    content: "}";
    font-size: 1.2em;
  }
}
