#stylus-manage {
  background-color: $workspace-color;
  background-image: $workspace-image;

  #manage-heading {
    margin-bottom: 0;
  }

  #update-check {
    margin-bottom: 0;
  }

  #update-all {
    margin-left: 1rem;
    margin-bottom: 0;
  }

  #check-all-updates,
  #apply-all-updates,
  #check-all-updates-force,
  #add-style-label {
    border: none;
    padding: 0;
    text-decoration: underline;
  }

  #header details summary {
    padding-bottom: 0.5em;
  }

  .settings-column:first-child {
    display: flex;
    flex-direction: column;

    #style-actions {
      margin-top: 1em;
    }

    #sort-wrapper {
      order: 1;
      margin-top: 0.75em;

      &:before {
        content: "Sort:";
        display: block;
        width: 100%;
        color: #26fefa;
        font-size: 18px;
        font-weight: 700;
        font-variant: small-caps;
        margin-bottom: 0.5em;
      }
    }

    #filters {
      border: 1px solid transparent;
      order: 2;
    }
  }

  #manage-text {
    a {
      color: $color-secondary;
    }
  }

  select#manage {
    padding-top: 0.25em !important;
    padding-bottom: 0.25em !important;
    height: auto !important;
  }

  .active #filters-stats {
    background-color: $color-accent;
    color: black;
    border: none;
    font-size: 10px;
    font-weight: 400;
    padding: 2px 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-bottom: -4px;
    padding-right: 0;
    cursor: default;
  }

  a#reset-filters {
    background-color: $color-accent;
    fill: $color-primary;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 5px 0 2px 0;
    padding: 0;
  }

  #reset-filters svg {
    width: auto;
    height: 18px;
    padding: 2px;
    fill: black !important;
  }

  #options-buttons {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    border-top: solid 1px $color-secondary;
    height: 24px;
    padding-top: 0.5em;
  }

  #manage-options-button,
  #manage-shortcuts-button,
  #find-editor-styles > button {
    &:before {
      color: white;
      position: absolute;
      width: 1em;
      height: 1em;
    }

    text-overflow: clip;
    color: transparent;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    max-width: none;
    background-color: transparent;
    background: none;
    border: none;
    cursor: pointer;
  }

  #manage-options-button:before {
    @include fontawesome-icon($fa-var-cog, $size: 20px);
    left: 0;
  }

  #manage-shortcuts-button:before {
    @include fontawesome-icon($fa-var-keyboard, $size: 20px);
    left: 34px;
  }

  #find-editor-styles > button:before {
    @include fontawesome-icon($fa-var-palette, $size: 20px);
    left: 72px;
  }

  #style-actions {
    #check-all-updates {
    }
  }

  #backup {
    #backup-message {
      color: white;
    }
  }
}
