#manage-text {
  a {
    color: $color-secondary;
  }
}

select#manage {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
  height: auto !important;
}

#options-buttons {
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: solid 1px $color-secondary;
  height: 24px;
  padding-top: 0.5em;
}

#manage-options-button,
#manage-shortcuts-button,
#find-editor-styles > button {
  &:before {
    color: $color-secondary;
    position: absolute;
    width: 1em;
    height: 1em;
  }

  text-overflow: clip;
  color: transparent;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  max-width: none;
  background-color: transparent;
  background: none;
  border: none;
  cursor: pointer;
}

#manage-options-button:before {
  @include fontawesome-icon($fa-var-cog, $size: 20px);
  left: 16px;
}

#manage-shortcuts-button:before {
  @include fontawesome-icon($fa-var-keyboard, $size: 20px);
  left: 50px;
}

#find-editor-styles > button:before {
  @include fontawesome-icon($fa-var-palette, $size: 20px);
  left: 88px;
}
