#message-box {
  #message-box-title {
    background-color: $header-background-color;
  }

  svg#sections-help {
    fill: white;
  }

  #message-box-contents {
    color: #333;
  }

  #message-box-buttons {
    button {
      padding: 0.5em 2em;
      border-color: #777;
      color: #333;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1) !important;
        border-color: #333 !important;
        color: #000 !important;
      }
    }

    label {
      color: #333;
    }

    input[type='checkbox'] {
      color: #333;
      border-color: #333 !important;
      background-color: transparent !important;
    }
  }
}

#help-popup {
  color: #333;
  background-color: white;

  a {
    color: $header-background-color;
  }

  .title {
    color: white;
    background-color: $header-background-color;
  }
  svg#sections-help {
    fill: white;
  }

  .keymap-list {
    color: #333;

    input {
      background-color: $header-background-color !important;
      color: white !important;
      font-weight: 400;
    }

    tr {
      &:nth-child(odd) {
        background-color: rgba($color-accent, 0.2);
      }
    }
  }

  details {
    color: #333 !important;
  }

  .beautify-options {
    label {
      color: #333;
    }

    select {
      color: #333;
      background: none;
      background-color: rgba(0, 0, 0, 0.1);
      border: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2) !important;
        border: none;
        color: #000 !important;
      }

      option {
        background-color: rgba(0, 0, 0, 0.1);
        border: none;
      }
    }

    .svg-icon.select-arrow {
      fill: #777;
    }

    .svg-icon.checked {
      margin-top: 4px;
      fill: #333;
    }

    input[type='checkbox'] {
      margin-top: 2px;
      background-color: transparent !important;
      border: 1px solid #333 !important;
    }
  }

  button {
    padding: 0.5em 2em;
    border-color: #777;
    color: #333;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1) !important;
      border-color: #333 !important;
      color: #000 !important;
    }
  }
}

#help-popup.big {
  background-color: #333;

  a {
    color: $color-accent;
  }

  button {
    background-color: $color-ws-control-background !important;
    border-color: $color-ws-control-color !important;
    color: $color-ws-control-color !important;
    transition: all 200ms ease-in-out;

    &:hover:not(:disabled) {
      background-color: $color-ws-selection !important;
      color: $color-ws-control-color !important;
    }
  }

  svg#sections-help {
    fill: white;
  }
}
