#stylus-popup {
  background-color: $popup-background;

  #installed {
    background-color: $installed-background;
    padding: 0;
    box-shadow: none;

    .entry {
      background-color: $installed-background;
      color: $installed-text-color;

      label {
        color: $installed-text-color;
      }

      &:nth-child(even) {
        background: none !important;
        background-image: $installed-item-alt-gradient !important;
      }
    }
  }

  & > .actions {
    margin: 0 !important;
    padding: 0 var(--outer-padding);
    background-color: $workspace-color;
    position: relative;

    a {
      color: $color-secondary;
    }

    #disable-all-wrapper::after {
      content: '';
      display: inline-block;
      position: absolute;
      right: 2em;
      top: 2em;
      width: 48px;
      height: 48px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48' height='48' viewBox='0 0 33.867 33.77'%3E%3Cstyle%3E.text%7Bfill:%2326fefa%7D%3C/style%3E%3Cdefs%3E%3ClinearGradient id='a'%3E%3Cstop offset='0' stop-opacity='0'/%3E%3Cstop offset='1'/%3E%3C/linearGradient%3E%3CradialGradient xlink:href='%23a' id='shadow-gradient' gradientUnits='userSpaceOnUse' gradientTransform='matrix(.01072 4.49284 -4.03205 .00962 262.18 -395.695)' cx='97.152' cy='41.187' fx='97.152' fy='41.187' r='20.54'/%3E%3C/defs%3E%3Cpath id='background' d='M16.933 1.385l-10.044.01c-2.029.007-3.164.97-3.164 3.793l-.003 5.963c-.07 4.317.335 4.938-2.158 4.955l-.012.779.012.779c2.493.016 2.088.637 2.158 4.955l.003 5.963c0 2.822 1.135 3.786 3.164 3.792l10.044.01 10.044-.01c2.03-.006 3.164-.97 3.165-3.792l.002-5.963c.07-4.318-.334-4.939 2.159-4.955l.012-.78-.012-.778c-2.493-.017-2.089-.638-2.159-4.955l-.002-5.963c0-2.823-1.136-3.786-3.165-3.793z' fill='%2300352d'/%3E%3Cpath id='background-shadow' transform='translate(-55.82 -13.959) scale(.74886)' d='M97.151 20.49l-13.412.014c-2.71.008-4.225 1.295-4.226 5.064l-.003 7.962c-.093 5.766.447 6.595-2.882 6.617l-.016 1.04.016 1.04c3.329.023 2.789.852 2.882 6.618l.003 7.962c.001 3.769 1.517 5.056 4.226 5.064l13.412.015 13.413-.015c2.71-.008 4.225-1.295 4.226-5.064l.003-7.962c.093-5.766-.446-6.595 2.883-6.618l.016-1.04-.016-1.04c-3.33-.022-2.79-.851-2.883-6.617l-.003-7.962c0-3.77-1.517-5.056-4.226-5.064z' fill='url(%23shadow-gradient)'/%3E%3Cpath id='shape' class='text' d='M25.526 21.953c0 2.258-1.003 4.5-2.64 5.8-1.625 1.3-3.892 1.95-6.8 1.95-2.678 0-5.344-.82-7.404-1.824l1.13-4.562c2.777 1.115 8.859 2.862 10.032-.6.553-2.724-3.1-3.439-4.598-4.15-3.325-1.453-6.244-3.652-6.27-7.165.258-7.637 9.853-8.441 15.551-6.203L23.365 9.69c-4.062-1.627-8.376-1.293-8.57.912-.12 1.355-.27 1.952 5.506 4.252 2.914 1.326 5.396 2.85 5.225 7.098z'/%3E%3Cpath id='braces' class='text' d='M6.23 0C5.055 0 3.9.242 2.878 1.467c-.827.991-.735 2.469-.758 4.426-.034 2.978.058 6.207-.07 9.104 0 0-1.21-.006-2.05.02l.014 1.868L0 18.753c.84.026 2.05.02 2.05.02.128 2.897.036 6.125.07 9.104.023 1.957-.069 3.434.758 4.426 1.02 1.224 2.177 1.467 3.352 1.467l10.703-.017 10.704.017c1.175 0 2.331-.243 3.352-1.467.827-.992.735-2.47.757-4.426.035-2.979-.057-6.207.07-9.105 0 0 1.211.007 2.05-.019l-.013-1.868.014-1.869c-.84-.025-2.05-.019-2.05-.019-.128-2.897-.036-6.126-.07-9.104-.023-1.957.069-3.435-.758-4.426C29.97.242 28.812 0 27.637 0L16.933.017zm10.703 1.385l10.045.01c2.028.007 3.163.97 3.164 3.793l.003 5.963c.07 4.317-.335 4.938 2.158 4.955l.012.779-.012.779c-2.493.016-2.089.637-2.158 4.955l-.003 5.963c0 2.822-1.136 3.786-3.164 3.792l-10.045.01-10.044-.01c-2.029-.006-3.163-.97-3.164-3.792l-.003-5.963c-.07-4.318.335-4.939-2.158-4.955l-.012-.78.012-.778c2.493-.017 2.089-.638 2.158-4.955l.003-5.963c0-2.823 1.135-3.786 3.164-3.793z'/%3E%3C/svg%3E");
    }

    #find-styles-link[title=''] {
      color: transparent;
      position: relative;

      &::after {
        content: 'Find more styles...';
        display: inline-block;
        position: absolute;
        color: $color-secondary;
        text-decoration: underline;
        top: 0;
        left: 0;
      }
    }

    #popup-options {
      button {
        background-color: $color-ws-control-background !important;
        border-color: $color-ws-control-color !important;
        color: $color-ws-control-color !important;
        transition: all 200ms ease-in-out;

        &:hover {
          background-color: $color-ws-selection !important;
          color: $color-ws-control-color !important;
        }
      }
    }

    .svg-icon.checked {
      fill: $color-accent !important;
    }
  }

  #search-results {
    padding: 8px;
    margin: 0 !important;
    background-color: $workspace-color;
    background-image: $workspace-image;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2);

    .search-result {
      background-color: $header-background-color;
      color: $color-ws-control-color;

      .search-result-title {
        color: #eee;
      }

      .search-result-meta {
        box-sizing: border-box;
        padding: 2px;
        background-color: #333;
        font-size: 9px;
      }

      .search-result-description {
        font-style: italic;
        color: #ccc;
      }
    }

    .search-results-nav {
      button {
        padding: 0.1em 0.2em 0.1em 0.3em;
        border-radius: 50%;

        &:hover {
          border: none !important;
        }
      }
    }
  }
}
